@media screen and (max-width: 768px) {
  .smallhid {
    display: none !important;
  }
  .parent {
    padding: 0 !important;
  }
  .main {
    flex-direction: column !important;
    padding: 0 !important;
  }
  .details{
    align-items: center !important;
  }
  .divi{
    text-align: center !important;
  }
  .details > h1 {
    font-size: 2rem !important;
    margin-top: 1rem;
  }
  .cardss{
    padding-inline: 2rem;
  }
  .details h2 {
    font-size: 2rem;
  }
   .span {
    font-size: 1rem !important;
  }
  .pro-cont{
    margin-bottom: 5rem;
  }
}
